*{
    margin: 0%;
    padding: 0%;

}

/* pagina de inicio y remeras-niños */
body{
    background-color: #969799;
 }
.bg-nav{
    background-color: #15151D;
    
}
/*  ENALACES MODIFICADOS DE COLOR  */
.navbar-nav a {
color: #969799 }

.navbar-brand{
color: #FF64AA;}



.main-inicio h1{
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: oblique;
  text-align: center;
  margin: 30px;
}
.main-inicio img{
width: 1850px;
height: 950px;
margin-left: 250px;
}

/* MAIN NIÑOS Y CABALLERO */
.main h1{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 200;
}
.main p{

    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
 .main img {
     width: 400px;
     height: 400px;
    
 }
 .remeras1{
    display: flex;
    justify-content: space-around;
    padding: 15px;
   
}
 .remeras2{
    display: flex;
    justify-content: space-around;
    padding: 15px;
 }


 /* FOOTER */
 
.footer{
    display: flex;
    height: 250px;
  

}
.footer div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: #15151D;
    justify-content: right;
    align-self: flex-end;
    align-self: flex-end;   
    
}

.footer img {
    display: flexbox;
    width: 30px;
 
    
}
/* REMERAS DAMA */
.container-dama{

    display: grid;
    grid-template-areas: 'header' 'header' 'header'
                           'main'   'main' 'main'
                          'footer' 'footer' 'footer';
                          
}


.header-damas{ grid-area: header;}

.main-damas{ grid-area: main;}

.main-damas h1{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.main-damas p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;

  }
  .main-damas img{
    width: 400px;
    height: 400px;
  }
  .fixed-bottom img{
    width: 50px;
  }
.footer-damas{ grid-area: footer;}

.footer-damas{  
    display: flex;
    height: 250px;
  }
  .footer-damas div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: #15151D;
    justify-content: right;
    align-self: flex-end;
    align-self: flex-end;    

  }
  .footer-damas img{

    display: flexbox;
    width: 30px;

  }
<<<<<<< HEAD
=======
 /* REMERAS CABALLERO APLICANDO POSITION PARA MOVER LAS IMAGENES */

 .div-contenedor1-caballero{display: flex;
    position: relative ;
    top: 20px;
}

 .remera-caballero-negra img{

    display: flex;
   width: 400px;
   height: 400px;
   position: relative;
   left: 90px;
   border-radius: 10px;

   
}

 .remera-caballero-beige img{
  
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 300px;
    border-radius: 10px;
 }

 .div-contenedor2-caballero{
    display: flex;
    position: relative;
    top: 50px;
 }

.remera-caballero-blanca img{
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 90px;
    border-radius: 10px;
 
}
.remera-caballero-gris img{
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 300px;
    border-radius: 10px;
}
 
>>>>>>> remeras-caballero
