*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #969799;
 }
.bg-nav{
    background-color: #15151D;
    
}
/*  ENLACES MODIFICADOS DE COLOR  */
.navbar-nav a {
color: #969799 }

.navbar-brand{
color: #FF64AA;}


/* MAIN INICIO USANDO GRID TEMPLATE */
.main-inicio h1{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 2px #FF64AA;}

.main-inicio{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,150px)
}
.main-inicio img{
    grid-column: 2/9;
    grid-row: 2;
    width: 900px;
    border-radius: 30px;
}
.main-inicio h1{
    grid-column: 2/9;
    grid-row: 1;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 2px #FF64AA;

}




/* MAIN H1 Y P DE NIÑOS Y CABALLEROS */

.main h1{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 200;
}
.main p{

    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
 .main img {
     width: 400px;
     height: 400px;
    
 }
 .remeras1{
    display: flex;
    justify-content: space-around;
    padding: 15px;
   
}
 .remeras2{
    display: flex;
    justify-content: space-around;
    padding: 15px;
 }


 /* FOOTER */
.footer{
    display: flex;
    height: 250px;
  

}
.footer div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: #15151D;
    justify-content: right;
    align-self: flex-end;
    align-self: flex-end;   
    
}

.footer img {
    display: flexbox;
    width: 30px;
 
    
}
.container-dama{

    display: grid;
    grid-template-areas: 'header' 'header' 'header'
                           'main'   'main' 'main'
                          'footer' 'footer' 'footer';
                          
}

/* REMERAS DAMA */
.header-damas{ grid-area: header;}

.main-damas{ grid-area: main;}

.main-damas h1{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.main-damas p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;

  }
  .main-damas img{
    width: 400px;
    height: 400px;
  }
  .fixed-bottom img{
    width: 50px;
  }
.footer-damas{ grid-area: footer;}

.footer-damas{  
    display: flex;
    height: 250px;
  }
  .footer-damas div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: #15151D;
    justify-content: right;
    align-self: flex-end;
    align-self: flex-end;    

  }
  .footer-damas img{

    display: flexbox;
    width: 30px;

  }
 /* REMERAS CABALLERO APLICANDO POSITION PARA MOVER LAS IMAGENES */

 .div-contenedor1-caballero{display: flex;
    position: relative ;
    top: 20px;
}

 .remera-caballero-negra img{

    display: flex;
   width: 400px;
   height: 400px;
   position: relative;
   left: 90px;
   border-radius: 10px;

   
}

 .remera-caballero-beige img{
  
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 300px;
    border-radius: 10px;
 }

 .div-contenedor2-caballero{
    display: flex;
    position: relative;
    top: 50px;
 }

.remera-caballero-blanca img{
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 90px;
    border-radius: 10px;
 
}
.remera-caballero-gris img{
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    left: 300px;
    border-radius: 10px;
}


.main-nosotros{
    display: flex;
   

}
.main-nosotros img{
    width: 250px;
    height: 250px;
    margin-right: 40px;

 }

 .quienes-somos{
    margin-left: 40px;
    margin-top: 30px;
    text-align: justify;
 }

.mision {
    display: flex;
    justify-content: right;
     align-items: flex-end;
    height: 500px;
    text-align: justify;
}
.mision h3{
    margin-bottom: 140px;
    text-align: start;
}
